<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>БД магазина кофе</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <div class="container py-5">
        <a href="client/" class="btn btn-info">Список клиентов</a> <br><br>
        <a href="coffee/" class="btn btn-info">Список кофе</a> <br><br>
        <a href="type/" class="btn btn-info">Список видов кофе</a> <br><br>
        <a href="manager/" class="btn btn-info">Список менеджеров</a> <br><br>
        <a href="department/" class="btn btn-info">Список департаментов</a> <br><br>
        <a href="sale/" class="btn btn-info">Таблица продаж</a> <br><br>
        <a href="orders/" class="btn btn-info">Таблица заказов</a> <br><br>
    </div>
</body>
</html>