{% load render_table from django_tables2 %}
{% load bootstrap3 %}
<!doctype html>
<html>
    <head>
        <title>Client</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>

    <body>
        <div class="container py-5">
            <br>
            <div>
                <a href="/">На главную</a>
            </div>
            <br>
            <div class="row justify-content-center">
            {% if filter %}
                <form method="get" class="form form-inline">
                    {% bootstrap_form filter.form layout='inline' %}
                    {% bootstrap_button 'Поиск' %}
                </form>
            {% endif %}
            {% render_table table 'django_tables2/bootstrap.html' %}
            <a href="{% url 'tables:client_create' %}">Добавить запись</a> <br><br>
            <a href="{% url 'tables:client_delete' %}">Удалить запись</a>
            </div>
        </div>
    </body>
</html>